:root{--btn-color: #fff}
* {
  width: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: linear-gradient(#5d44f8, #f6bc39);
  color: #1c2136;
}
.main {
  width: 100%;
  position: relative;

}
h1 {
  color: #5d44f8;
  font-size: 38px;
  margin-top: 10px;
  text-align: center;
}
.center {
  position: absolute;
  padding: 2rem;
  text-align: center;
}
h2 {
  color: #1c2136;
  font-size: 28px;
  font-weight: 450;
  margin-bottom: 1em;
}
textarea {
  background-color: #EEF0F5;
  border-color: #5d44f8;
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
  font-size: 24px;
  margin: 0 auto;
  padding: 1em;
  min-width: 70%;
  height: 10em;
}
.mainbtn {
  border-style: solid;
  border-radius: 25px;
  margin: 1em 0em;
  padding: 5px;
  max-width: 4.5em;
  border-color: #1c2136;
  background-color: #f6bc39;
  font-size: 30px;
  color: #1c2136;
}
